html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* ------------------- */
/*  페이지 기본 요소   */
/* ------------------- */
.flex-row-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.page-title {
  font-size: 2.4rem;
  margin: 1rem 0 0 0;
}

.written-date {
  margin: 0;
  color: #747474;
}

/* ------------------- */
/*  기본 이미지 스타일 */
/* ------------------- */
.markdown-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: zoom-in;
  display: block;
  margin: 20px auto;
}

/* ------------------- */
/*  모달 배경          */
/* ------------------- */
.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: zoom-out;
}

/* ------------------- */
/*  모달 내부 이미지   */
/* ------------------- */
.image-modal-content {
  max-width: 95%;
  max-height: 90%;
  border-radius: 8px;
}

/*  스크롤 바          */
::-webkit-scrollbar {
  height: 8px; /* 가로 스크롤바 높이 */
  width: 8px; /* 세로 스크롤바 너비 */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.7);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(120, 120, 120, 1);
}
