.flex-row-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.page-title {
  font-size: 2.4rem;
  margin: 1rem 0 0 0;
}

.written-date {
  margin: 0;
  color: #747474;
}
